[build]
  publish = "public"
  command = "make prepare && hugo --baseURL $URL"

[context.production.environment]
  HUGO_VERSION = "0.60.0"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"
  
[context.branch-deploy.environment]
  HUGO_ENABLEGITINFO = "true"
  HUGO_VERSION = "0.60.0"  
  
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"

[[redirects]]
 from = "http://alexpersonal-dev.netlify.com/*"
 to = "https://alexpersonal-dev.netlify.com/:splat"
 status = 301
 force = true

[context.deploy-preview.environment]
  HUGO_VERSION = "0.60.0"
