[build]
  publish = "demo/public"
  command = "make prepare && hugo --source demo --baseURL $URL"

[context.production.environment]
  HUGO_VERSION = "0.148.2"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[context.split1]
  command = "hugo --enableGitInfo"

[context.split1.environment]
  HUGO_VERSION = "0.148.2"
  HUGO_ENV = "production"  
  
[context.deploy-preview]
  command = "make prepare && hugo --source demo --buildFuture --buildDrafts --baseURL $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.148.2"

[context.next.environment]
  HUGO_ENABLEGITINFO = "true"
  
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"

 [[redirects]]
 from = "http://madicetea.com/*"
 to = "https://www.madicetea.com/:splat"
 status = 301
 force = true
 
[[redirects]]
 from = "https://madicetea.com/*"
 to = "https://www.madicetea.com/:splat"
 status = 301
 force = true

[[redirects]]
 from = "http://madicetea.jp/*"
 to = "https://www.madicetea.jp/:splat"
 status = 301
 force = true

[[redirects]]
 from = "https://madicetea.jp/*"
 to = "https://www.madicetea.jp/:splat"
 status = 301
 force = true
 
[[redirects]]
 from = "http://www.madicetea.si/*"
 to = "https://www.madicetea.si/:splat"
 status = 301
 force = true
 
[[redirects]]
 from = "https://www.madicetea.si/*"
 to = "https://www.madicetea.si/:splat"
 status = 301
 force = true
