[build]
  publish = "public"
  command = "hugo --themesDir=.. --baseURL $URL"

[build.environment]
  HUGO_THEME = "repo"
  HUGO_VERSION = "0.153.2"

[context.deploy-preview]
  command = "hugo --themesDir=.. --baseURL $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.153.2"

[context.branch-deploy.environment]
  HUGO_ENABLEGITINFO = "true"
  HUGO_VERSION = "0.153.2"

[context.production.environment]
  HUGO_ENABLEGITINFO = "true"
  HUGO_ENV = "production"
  HUGO_VERSION = "0.153.2"
