[build]
  publish = "public"
  command = "hugo --themesDir=.. --baseURL $URL"

[build.environment]
  HUGO_THEME = "repo"
  HUGO_VERSION = "0.155.1"

[context.deploy-preview]
  command = "hugo --themesDir=.. --baseURL $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.155.1"

[context.branch-deploy.environment]
  HUGO_ENABLEGITINFO = "true"
  HUGO_VERSION = "0.155.1"

[context.production.environment]
  HUGO_ENABLEGITINFO = "true"
  HUGO_ENV = "production"
  HUGO_VERSION = "0.155.1"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
